@charset "UTF-8";
@import url(./style-hovers.scss);
@-webkit-keyframes moveUpDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes moveUpDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

::-webkit-scrollbar {
  width: 7px;
  border: none;
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border: none;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 200vh;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

header > div.main-header {
  background-color: rgba(255, 255, 255, 0.11);
}

div.top-header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

header.main-header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

nav.navbar-header {
  width: 90%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: transparent;
}

div.container-logo {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 20px;
  background-color: rgba(169, 169, 169, 0);
  -webkit-transition: 280ms;
  transition: 280ms;
}

img.logo {
  padding: 10px;
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 280ms;
  transition: 280ms;
}

ul.container-options-navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0);
}

.container-options-navbar > .sobre-link {
  text-decoration: none;
}

.container-options-navbar > .shop-link {
  text-decoration: none;
}

.container-options-navbar > .tracker-link {
  text-decoration: none;
}

.container-options-navbar > .contato-link {
  text-decoration: none;
}

li.sobre {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: black;
  padding: 10px;
  font-weight: 600;
  border-radius: 100px;
  -webkit-transition: 280ms;
  transition: 280ms;
}

li.shop {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: black;
  padding: 10px;
  border-radius: 100px;
  font-weight: 600;
  -webkit-transition: 280ms;
  transition: 280ms;
}

li.tracker {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: black;
  padding: 10px;
  border-radius: 100px;
  font-weight: 600;
  -webkit-transition: 280ms;
  transition: 280ms;
}

li.contato {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: black;
  padding: 10px;
  border-radius: 100px;
  font-weight: 600;
  -webkit-transition: 280ms;
  transition: 280ms;
}

.perfil-img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  border-radius: 100px;
  -webkit-transition: 280ms;
  transition: 280ms;
}

.container-perfil-img {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0);
}

/*HEADER TERMINA AQUI*/
/*SECTION MAIN COMEÇA AQUI*/
.conteudo-section-main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -99;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-slogan {
  width: 600px;
  height: 600px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 3.2em;
}

.nome-marca {
  line-height: 0.7em;
  letter-spacing: 3px;
  font-size: 100px;
  font-family: "Lato";
  font-weight: 900;
}

.frase1 {
  font-size: 39px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.frase2 {
  line-height: 0.6em;
  font-size: 70px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

/*SECTION MAIN ACABA AQUI*/
/*SECTION 1 COMEÇA AQUI*/
section.section-content-1 {
  background: #FCFCFC;
  mix-blend-mode: normal;
  -webkit-box-shadow: inset 0px 45px 50px -25px rgba(0, 0, 0, 0.25), inset 20px -120px 50px -70px rgba(0, 0, 0, 0.596);
          box-shadow: inset 0px 45px 50px -25px rgba(0, 0, 0, 0.25), inset 20px -120px 50px -70px rgba(0, 0, 0, 0.596);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

div.container-content-section-1 {
  width: 38.5%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 13;
}

p.text-content-section-1 {
  min-width: 300px;
  font-family: "Lato", sans-serif;
  font-size: 21px;
  font-weight: 500;
  color: black;
  text-align: center;
  padding: 20px;
  border: solid 2.5px black;
  -webkit-backdrop-filter: blur(13px);
          backdrop-filter: blur(13px);
  border-radius: 40px;
  background-color: #ffffff4b;
  z-index: 15;
}

strong {
  font-weight: 950;
}

img.phone-section-1 {
  position: relative;
  max-width: 100%;
  min-width: 200px;
  width: 750px;
  -webkit-filter: drop-shadow(-100px 60px 50px rgba(0, 0, 0, 0.76));
          filter: drop-shadow(-100px 60px 50px rgba(0, 0, 0, 0.76));
  padding-top: 6em;
  z-index: 12;
  -webkit-transition: 300ms;
  transition: 300ms;
}

img.computer-section-1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  min-width: 200px;
  width: 450px;
  padding-top: 4em;
  z-index: 12;
}

div.img-container-section-1 {
  position: relative;
  width: 100%;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*SECTION 1 ACABA AQUI*/
/*SECTION 2 COMEÇA AQUI*/
section.section-content-2 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 13;
  overflow: hidden;
}

div.container-content-section-2 {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.estagio {
  list-style-type: none;
  line-height: 4.1em;
  -webkit-transition: 300ms;
  transition: 300ms;
}

li.escute {
  width: 550px;
  cursor: pointer;
  font-size: 5em;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  -webkit-transition: 300ms;
  transition: 300ms;
}

li.escute img.location1 {
  opacity: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

li.observe {
  width: 550px;
  cursor: pointer;
  font-size: 5em;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  -webkit-transition: 300ms;
  transition: 300ms;
}

li.observe img.location2 {
  opacity: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

li.ache {
  width: 550px;
  cursor: pointer;
  font-size: 5em;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  -webkit-transition: 300ms;
  transition: 300ms;
}

li.ache img.location3 {
  opacity: 0;
  letter-spacing: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

img.container-logo-img-section-2 {
  -webkit-transition: 500ms;
  transition: 500ms;
}

img.logo-img-section-2 {
  max-width: 100%;
  width: 500px;
  min-width: 400px;
  -webkit-transition: 1s;
  transition: 1s;
}

/*SECTION 2 ACABA AQUI*/
/*SECTION NO VIDEO COMEÇA AQUI*/
section.section-content-no-video-anymore {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

div.app-content-section-no-video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
}

div.app-content-section-no-video {
  -webkit-transition: 300ms;
  transition: 300ms;
}

ul.history {
  list-style: none;
  line-height: 5em;
  -webkit-transition: 300ms;
  transition: 300ms;
}

li.title-no-video img.historia-icon-hover {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  opacity: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

ul.history > li.title-no-video {
  font-size: 6rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 420px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  cursor: pointer;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: 300ms;
  transition: 300ms;
}

ul.history > li.history-resume {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
}

h3.point {
  text-align: center;
  -webkit-transform: scale(8);
          transform: scale(8);
  font-size: 1rem;
}

hr.linha-historia {
  width: 100%;
  margin-top: 20px;
  position: relative;
}

img.app-screen-section-no-video {
  width: 50%;
  -webkit-filter: brightness(120%) saturate(0%);
          filter: brightness(120%) saturate(0%);
  -webkit-animation: moveUpDown 4s infinite backwards;
          animation: moveUpDown 4s infinite backwards;
}

/*SECTION NO VIDEO ACABA AQUI*/
/*SECTION 3 COMEÇA AQUI*/
section.section-content-3 {
  width: 100%;
  height: 200vh;
  background-color: linear-gradient(180deg, #f7f7f7 0%, #ffffff 100%);
  mix-blend-mode: normal;
  -webkit-box-shadow: inset 0px -70px 70px -40px rgba(0, 0, 0, 0.342);
          box-shadow: inset 0px -70px 70px -40px rgba(0, 0, 0, 0.342);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

div.container-content-section-3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1.title-content-section-3 {
  font-size: 5.2em;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 0.85em;
  text-align: center;
}

ul.system-ifound {
  margin-top: 13em;
  line-height: 2em;
}

div.container-img-system {
  margin-top: 5em;
}

li.auto-falante {
  font-size: 1.8em;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

li.compacto {
  font-size: 1.8em;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

li.reciclagem {
  font-size: 1.8em;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

li.bateria {
  font-size: 1.8em;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

img.system-img-about {
  width: 100%;
  padding: 50px;
}

/*SECTION 3 ACABA AQUI*/
/*SECTION 4 COMEÇA AQUI*/
section.section-content-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("./img-main-page/COMPUTER-3D-SECTION-4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  overflow: hidden;
}

img.background-app-section-4 {
  width: 50%;
  position: relative;
  z-index: -99;
}

div.container-content-section-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
  margin-bottom: 12em;
}

h1.oferta-title {
  font-size: 4em;
  text-align: center;
  font-family: "Lato", sans-serif;
  line-height: 0.9em;
}

span.preco {
  font-size: 1.5em;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #444444;
  margin-top: 5px;
  margin-bottom: 0px;
}

button.compra-oferta {
  width: 44%;
  min-width: 5%;
  height: 7.5vh;
  margin-top: 30px;
  text-align: center;
  border: solid 3px linear-gradient(0deg, #0066ff 0%, #c9deff 100%);
  border-radius: 100px;
  background: #0066ff;
  background: -webkit-gradient(linear, left bottom, left top, from(#0066ff), to(#c9deff));
  background: linear-gradient(0deg, #0066ff 0%, #c9deff 100%);
  color: white;
  border: none;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  -webkit-transition: 280ms;
  transition: 280ms;
}

section.section-content-5 {
  width: 100%;
  height: 130vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

div.container-content-section-5 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

div.container-samsung-about {
  position: relative;
  width: 350px;
  height: 600px;
  text-align: justify;
}

h1.samsung {
  font-size: 3.6em;
  font-family: "Lato", sans-serif;
}

span.samsung-about {
  font-size: 1.6em;
  font-family: "Lato", sans-serif;
}

div.container-apple-about {
  position: relative;
  width: 350px;
  height: 600px;
  text-align: justify;
}

h1.apple {
  font-size: 3.6em;
  font-family: "Lato", sans-serif;
}

span.apple-about {
  font-size: 1.6em;
  font-family: "Lato", sans-serif;
}

div.app-container-images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 700px;
}

img.face-android-app {
  width: 250px;
  position: relative;
}

img.face-ios-app {
  width: 250px;
  position: relative;
}

/*SECTION 6 COMEÇA AQUI*/
section.section-content-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

source.video-source-section-content-6 {
  position: relative;
  width: 1000px;
  height: 600px;
  border-radius: 50px;
}

video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul.container-frases-efeito {
  width: 370px;
  margin-left: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 3.4em;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  list-style-type: none;
  line-height: 0.92em;
}

li.simples {
  -webkit-transition: 280ms;
  transition: 280ms;
}

li.pratico {
  -webkit-transition: 280ms;
  transition: 280ms;
}

li.movil {
  -webkit-transition: 280ms;
  transition: 280ms;
}

/*SECTION 6 ACABA AQUI*/
footer.abismo {
  width: 100%;
  height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f5f5;
}

div.footer-container-content {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.div-footer-container-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav.container-footer-lists {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav.container-footer-lists > ul {
  text-align: left;
  font-family: "Lato", sans-serif;
}

img.footer-logo-img {
  margin-bottom: 50px;
}

ul.produto > h1 {
  margin-bottom: 13px;
}

ul.conta > h1 {
  margin-bottom: 13px;
}

ul.sobre-nos > h1 {
  margin-bottom: 13px;
}

ul.produto > a {
  text-decoration: none;
  color: black;
}

ul.conta > a {
  text-decoration: none;
  color: black;
}

ul.sobre-nos > a {
  text-decoration: none;
  color: black;
}

div.terms {
  position: relative;
  bottom: -6em;
  width: 65%;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  word-spacing: 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

p.copy-text > a {
  color: #0066ff;
}

/*PÁGINA PRODUCTS COMEÇA AQUI*/
section.section-main {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.container-products-content {
  width: 90%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

div.informations-product-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.img-product-container {
  position: relative;
  width: 700px;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img.product-show {
  width: 400px;
  background-color: #8f8f8f;
  -webkit-filter: saturate(0%);
          filter: saturate(0%);
  border-radius: 30px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

span.gratis {
  font-size: 20px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}

hr.division-line {
  width: 50%;
}

h1.title-oferta {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  text-align: left;
}

h2.subtitle-oferta {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  color: gray;
  text-align: left;
  margin-bottom: 10px;
}

h1.unidade-text {
  font-family: 'Lato', sans-serif;
  font-size: 2.3em;
  line-height: 1em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h4.parcela {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: gray;
  margin-top: 20px;
  margin-bottom: 40px;
}

hr.division-oferta-1 {
  width: 30%;
  border: solid 1px black;
}

hr.division-oferta-2 {
  width: 30%;
  border: solid 1px black;
}

button.comprar {
  width: 15%;
  height: 5vh;
  color: white;
  margin-bottom: 30px;
  border: none;
  border: solid 3px linear-gradient(0deg, #0066ff 0%, #c9deff 100%);
  border-radius: 100px;
  background: #0066ff;
  background: -webkit-gradient(linear, left bottom, left top, from(#0066ff), to(#c9deff));
  background: linear-gradient(0deg, #0066ff 0%, #c9deff 100%);
}

@keyframes moveUpDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.perfil-img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-radius: 100px;
  -webkit-transition: 280ms;
  transition: 280ms;
}

img.logo:hover {
  -webkit-transform: scale(1.05) rotate(10deg);
          transform: scale(1.05) rotate(10deg);
  cursor: pointer;
  -webkit-transition: 280ms;
  transition: 280ms;
}

li.sobre:hover {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 900;
  background-color: black;
  border-radius: 100px;
  padding: 10px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: 280ms;
  transition: 280ms;
}

li.shop:hover {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 900;
  background-color: black;
  border-radius: 100px;
  padding: 10px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: 280ms;
  transition: 280ms;
}

li.tracker:hover {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 900;
  background-color: black;
  border-radius: 100px;
  padding: 10px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: 280ms;
  transition: 280ms;
}

li.contato:hover {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 900;
  background-color: black;
  border-radius: 100px;
  padding: 10px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: 280ms;
  transition: 280ms;
}

div.app-content-section-no-video:hover {
  -webkit-transition: 280ms;
  transition: 280ms;
}

li.escute:hover {
  letter-spacing: 2px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

li.escute:hover img.location1 {
  opacity: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

li.observe:hover {
  letter-spacing: 2px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

li.observe:hover img.location2 {
  opacity: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

li.ache:hover {
  letter-spacing: 2px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

li.ache:hover img.location3 {
  opacity: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

li.title-no-video:hover img.historia-icon-hover {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

ul.history:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.336);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.336);
  border-radius: 30px;
  scale: 1.05;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

img.logo-img-section-2:hover {
  rotate: 360deg;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

img.container-logo-img-section-2:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  rotate: 360deg;
  -webkit-transition: 500ms;
  transition: 500ms;
}

button.compra-oferta:hover {
  cursor: pointer;
  -webkit-transition: 280ms;
  transition: 280ms;
}

button.compra-oferta:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  cursor: pointer;
  -webkit-transition: 280ms;
  transition: 280ms;
}

li.simples:hover {
  letter-spacing: 2px;
  -webkit-transition: 280ms;
  transition: 280ms;
}

li.pratico:hover {
  letter-spacing: 2px;
  -webkit-transition: 280ms;
  transition: 280ms;
}

li.movil:hover {
  letter-spacing: 2px;
  -webkit-transition: 280ms;
  transition: 280ms;
}

ul.produto > a:hover {
  text-decoration: underline;
  color: black;
}

ul.conta > a:hover {
  text-decoration: underline;
  color: black;
}

ul.sobre-nos > a:hover {
  text-decoration: underline;
  color: black;
}

img.product-show:hover {
  scale: 1.05;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

button.comprar:hover {
  cursor: pointer;
  -webkit-transition: 280ms;
  transition: 280ms;
}

button.comprar:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  cursor: pointer;
  -webkit-transition: 280ms;
  transition: 280ms;
}

button.comprar:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: 280ms;
  transition: 280ms;
}
/*# sourceMappingURL=style-hovers.css.map */